# external clock 48 MHz
NET "pin_CLK" LOC = p127 | CLOCK_DEDICATED_ROUTE = FALSE | IOSTANDARD = LVCMOS33 | TNM_NET = "TNM_CLK_IN";
TIMESPEC TS_CLK_IN = PERIOD "TNM_CLK_IN" 20.833000 ns HIGH 50 %;

NET "pin_nRESET" LOC = p67 | IOSTANDARD = LVCMOS33 | PULLUP; # shared with INIT_B

#NET "pin_JUMPER0" LOC = p70 | IOSTANDARD = LVCMOS33 | PULLUP; # JP0
#NET "JP1" LOC = p69 | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "JP2" LOC = p68 | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "JP3" LOC = p75 | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "JP4" LOC = p76 | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "JP5" LOC = p77 | IOSTANDARD = LVCMOS33 | PULLUP;

#NET "TEST1" LOC = p115 | IOSTANDARD = LVCMOS33;
#NET "TEST2" LOC = p117 | IOSTANDARD = LVCMOS33;
#NET "TEST3" LOC = P138 | IOSTANDARD = LVCMOS33;
#NET "TEST4" LOC = P29 | IOSTANDARD = LVCMOS33;

#NET "pin_KC_CLK" LOC = p142 | IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "pin_KC_R" LOC = p135 | IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "pin_KC_G" LOC = p134 | IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "pin_KC_B" LOC = p132 | IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "pin_KC_HSYNC" LOC = p139 | IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "pin_KC_EZ" LOC = p130 | IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "pin_KC_EX" LOC = p131 | IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "pin_KC_VSYNC" LOC = p138 | IOSTANDARD = LVCMOS33 | PULLDOWN;

NET "pin_PIC32_DATA[7]" LOC = p41 | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "pin_PIC32_DATA[6]" LOC = p42 | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "pin_PIC32_DATA[5]" LOC = p18 | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "pin_PIC32_DATA[4]" LOC = p28 | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "pin_PIC32_DATA[3]" LOC = p27 | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "pin_PIC32_DATA[2]" LOC = p45 | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "pin_PIC32_DATA[1]" LOC = p44 | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "pin_PIC32_DATA[0]" LOC = p43 | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "pin_PIC32_ADDRESS[1]" LOC = p71 | IOSTANDARD = LVCMOS33 | PULLUP; # shared with DIN
NET "pin_PIC32_ADDRESS[0]" LOC = p19 | IOSTANDARD = LVCMOS33 | PULLUP;
NET "pin_PIC32_nRD" LOC = p33 | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "pin_PIC32_nWR" LOC = p140 | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;

# M68AW128MND 128k x 16 bit
#NET "pin_SRAM_A[16]" LOC = p84;  # SRAM pin 18
#NET "pin_SRAM_A[15]" LOC = p83;  # SRAM pin 19
#NET "pin_SRAM_A[14]" LOC = p82;  # SRAM pin 20
#NET "pin_SRAM_A[13]" LOC = p79;  # SRAM pin 21
#NET "pin_SRAM_A[12]" LOC = p78;  # SRAM pin 22
#NET "pin_SRAM_A[11]" LOC = p32;  # SRAM pin 24
#NET "pin_SRAM_A[10]" LOC = p31;  # SRAM pin 25
#NET "pin_SRAM_A[9]" LOC = p30;   # SRAM pin 26
#NET "pin_SRAM_A[8]" LOC = p29;   # SRAM pin 27
#NET "pin_SRAM_A[7]" LOC = p5;    # SRAM pin 42
#NET "pin_SRAM_A[6]" LOC = p4;    # SRAM pin 43
#NET "pin_SRAM_A[5]" LOC = p3;    # SRAM pin 44
#NET "pin_SRAM_A[4]" LOC = p105;  # SRAM pin 1
#NET "pin_SRAM_A[3]" LOC = p104;  # SRAM pin 2
#NET "pin_SRAM_A[2]" LOC = p103;  # SRAM pin 3
#NET "pin_SRAM_A[1]" LOC = p102;  # SRAM pin 4
#NET "pin_SRAM_A[0]" LOC = p101;  # SRAM pin 5

# CY7C1021DV33 - 64k x 16 bit
# Attention: A12...A15 are shifted by one pin compared to M68AW128MND
NET "pin_SRAM_A[16]" LOC = p78 | IOSTANDARD = LVCMOS33 | SLEW = FAST;           # unused, mapped to SRAM pin 22 (nc)
NET "pin_SRAM_A[15]" LOC = p84 | IOSTANDARD = LVCMOS33 | SLEW = FAST;           # SRAM pin 18
NET "pin_SRAM_A[14]" LOC = p83 | IOSTANDARD = LVCMOS33 | SLEW = FAST;           # SRAM pin 19
NET "pin_SRAM_A[13]" LOC = p82 | IOSTANDARD = LVCMOS33 | SLEW = FAST;           # SRAM pin 20
NET "pin_SRAM_A[12]" LOC = p79 | IOSTANDARD = LVCMOS33 | SLEW = FAST;           # SRAM pin 21
NET "pin_SRAM_A[11]" LOC = p32 | IOSTANDARD = LVCMOS33 | SLEW = FAST;           # SRAM pin 24
NET "pin_SRAM_A[10]" LOC = p31 | IOSTANDARD = LVCMOS33 | SLEW = FAST;           # SRAM pin 25
NET "pin_SRAM_A[9]" LOC = p30 | IOSTANDARD = LVCMOS33 | SLEW = FAST;            # SRAM pin 26
NET "pin_SRAM_A[8]" LOC = p29 | IOSTANDARD = LVCMOS33 | SLEW = FAST;            # SRAM pin 27
NET "pin_SRAM_A[7]" LOC = p5 | IOSTANDARD = LVCMOS33 | SLEW = FAST;             # SRAM pin 42
NET "pin_SRAM_A[6]" LOC = p4 | IOSTANDARD = LVCMOS33 | SLEW = FAST;             # SRAM pin 43
NET "pin_SRAM_A[5]" LOC = p3 | IOSTANDARD = LVCMOS33 | SLEW = FAST;             # SRAM pin 44
NET "pin_SRAM_A[4]" LOC = p105 | IOSTANDARD = LVCMOS33 | SLEW = FAST;           # SRAM pin 1
NET "pin_SRAM_A[3]" LOC = p104 | IOSTANDARD = LVCMOS33 | SLEW = FAST;           # SRAM pin 2
NET "pin_SRAM_A[2]" LOC = p103 | IOSTANDARD = LVCMOS33 | SLEW = FAST;           # SRAM pin 3
NET "pin_SRAM_A[1]" LOC = p102 | IOSTANDARD = LVCMOS33 | SLEW = FAST;           # SRAM pin 4
NET "pin_SRAM_A[0]" LOC = p101 | IOSTANDARD = LVCMOS33 | SLEW = FAST;           # SRAM pin 5
NET "pin_SRAM_D[15]" LOC = p10 | IOSTANDARD = LVCMOS33 | SLEW = FAST;  # SRAM pin 38
NET "pin_SRAM_D[14]" LOC = p12 | IOSTANDARD = LVCMOS33 | SLEW = FAST;  # SRAM pin 37
NET "pin_SRAM_D[13]" LOC = p13 | IOSTANDARD = LVCMOS33 | SLEW = FAST;  # SRAM pin 36
NET "pin_SRAM_D[12]" LOC = p15 | IOSTANDARD = LVCMOS33 | SLEW = FAST;  # SRAM pin 35
NET "pin_SRAM_D[11]" LOC = p20 | IOSTANDARD = LVCMOS33 | SLEW = FAST;  # SRAM pin 32
NET "pin_SRAM_D[10]" LOC = p21 | IOSTANDARD = LVCMOS33 | SLEW = FAST;  # SRAM pin 31
NET "pin_SRAM_D[9]" LOC = p24 | IOSTANDARD = LVCMOS33 | SLEW = FAST;   # SRAM pin 30
NET "pin_SRAM_D[8]" LOC = p25 | IOSTANDARD = LVCMOS33 | SLEW = FAST;   # SRAM pin 29
NET "pin_SRAM_D[7]" LOC = p87 | IOSTANDARD = LVCMOS33 | SLEW = FAST;   # SRAM pin 16
NET "pin_SRAM_D[6]" LOC = p88 | IOSTANDARD = LVCMOS33 | SLEW = FAST;   # SRAM pin 15
NET "pin_SRAM_D[5]" LOC = p90 | IOSTANDARD = LVCMOS33 | SLEW = FAST;   # SRAM pin 14
NET "pin_SRAM_D[4]" LOC = p91 | IOSTANDARD = LVCMOS33 | SLEW = FAST;   # SRAM pin 13
NET "pin_SRAM_D[3]" LOC = p92 | IOSTANDARD = LVCMOS33 | SLEW = FAST;   # SRAM pin 10
NET "pin_SRAM_D[2]" LOC = p93 | IOSTANDARD = LVCMOS33 | SLEW = FAST;   # SRAM pin 9
NET "pin_SRAM_D[1]" LOC = p96 | IOSTANDARD = LVCMOS33 | SLEW = FAST;   # SRAM pin 8
NET "pin_SRAM_D[0]" LOC = p98 | IOSTANDARD = LVCMOS33 | SLEW = FAST;   # SRAM pin 7
NET "pin_SRAM_nBHE" LOC = p7 | IOSTANDARD = LVCMOS33 | SLEW = FAST;    # SRAM pin 40
NET "pin_SRAM_nBLE" LOC = p8 | IOSTANDARD = LVCMOS33 | SLEW = FAST;    # SRAM pin 39
NET "pin_SRAM_nCE" LOC = p99 | IOSTANDARD = LVCMOS33 | SLEW = FAST;    # SRAM pin 6
NET "pin_SRAM_nOE" LOC = p6 | IOSTANDARD = LVCMOS33 | SLEW = FAST;              # SRAM pin 41
NET "pin_SRAM_nWE" LOC = p85 | IOSTANDARD = LVCMOS33 | SLEW = FAST;             # SRAM pin 17

#NET "pin_VGA_B[3]" LOC = p49 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "pin_VGA_B[2]" LOC = p48 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "pin_VGA_B[1]" LOC = p47 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "pin_VGA_B[0]" LOC = p46 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "pin_VGA_G[3]" LOC = p55 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "pin_VGA_G[2]" LOC = p54 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "pin_VGA_G[1]" LOC = p51 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "pin_VGA_G[0]" LOC = p50 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "pin_VGA_R[3]" LOC = p60 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "pin_VGA_R[2]" LOC = p59 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "pin_VGA_R[1]" LOC = p58 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "pin_VGA_R[0]" LOC = p57 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "pin_VGA_HSYNC" LOC = p64 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "pin_VGA_VSYNC" LOC = p62 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
