# external clock 32 MHz
NET "CLK_IN" LOC = P59;
NET "CLK_IN" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLK_IN" IOSTANDARD = LVCMOS33;
NET "CLK_IN" TNM_NET = "TNM_CLK_IN";
TIMESPEC TS_CLK_IN = PERIOD "TNM_CLK_IN" 32 MHz HIGH 50 %;

NET "SCANLINES" LOC = P33;
NET "SCANLINES" IOSTANDARD = LVCMOS33;
NET "SCANLINES" PULLDOWN;

NET "TEST1" LOC = P131;
NET "TEST1" IOSTANDARD = LVCMOS33;
NET "TEST2" LOC = P134;
NET "TEST2" IOSTANDARD = LVCMOS33;
#NET "TEST3" LOC = P138;
#NET "TEST3" IOSTANDARD = LVCMOS33;
#NET "TEST4" LOC = P29;
#NET "TEST4" IOSTANDARD = LVCMOS33;

# input capture clock
NET "KC_CLK" LOC = P20;
NET "KC_CLK" IOSTANDARD = LVCMOS33;

NET "KC_R" LOC = P3;
NET "KC_G" LOC = P5;
NET "KC_B" LOC = P7;

NET "KC_B" IOSTANDARD = LVCMOS33;
NET "KC_G" IOSTANDARD = LVCMOS33;
NET "KC_R" IOSTANDARD = LVCMOS33;

NET "KC_HSYNC" LOC = P10;
NET "KC_EZ" LOC = P15;
NET "KC_EX" LOC = P24;
NET "KC_VSYNC" LOC = P18;

NET "nRESET" LOC = P68;
NET "nRESET" IOSTANDARD = LVCMOS33;
NET "nRESET" PULLUP;

NET "KC_VSYNC" IOSTANDARD = LVCMOS33;
NET "KC_EZ" IOSTANDARD = LVCMOS33;
NET "KC_EX" IOSTANDARD = LVCMOS33;
NET "KC_HSYNC" IOSTANDARD = LVCMOS33;

NET "PM_D[7]" LOC = P47;
NET "PM_D[6]" LOC = P48;
NET "PM_D[5]" LOC = P49;
NET "PM_D[4]" LOC = P50;
NET "PM_D[3]" LOC = P51;
NET "PM_D[2]" LOC = P57;
NET "PM_D[1]" LOC = P54;
NET "PM_D[0]" LOC = P55;

NET "PM_D[7]" IOSTANDARD = LVCMOS33;
NET "PM_D[6]" IOSTANDARD = LVCMOS33;
NET "PM_D[5]" IOSTANDARD = LVCMOS33;
NET "PM_D[4]" IOSTANDARD = LVCMOS33;
NET "PM_D[3]" IOSTANDARD = LVCMOS33;
NET "PM_D[2]" IOSTANDARD = LVCMOS33;
NET "PM_D[1]" IOSTANDARD = LVCMOS33;
NET "PM_D[0]" IOSTANDARD = LVCMOS33;
NET "PM_D[7]" SLEW = FAST;
NET "PM_D[6]" SLEW = FAST;
NET "PM_D[5]" SLEW = FAST;
NET "PM_D[4]" SLEW = FAST;
NET "PM_D[3]" SLEW = FAST;
NET "PM_D[2]" SLEW = FAST;
NET "PM_D[1]" SLEW = FAST;
NET "PM_D[0]" SLEW = FAST;
NET "PM_D[7]" PULLUP;
NET "PM_D[6]" PULLUP;
NET "PM_D[5]" PULLUP;
NET "PM_D[4]" PULLUP;
NET "PM_D[3]" PULLUP;
NET "PM_D[2]" PULLUP;
NET "PM_D[1]" PULLUP;
NET "PM_D[0]" PULLUP;


NET "PM_A[1]" LOC = P44;
NET "PM_A[0]" LOC = P46;


NET "PM_A[1]" IOSTANDARD = LVCMOS33;
NET "PM_A[0]" IOSTANDARD = LVCMOS33;
NET "PM_A[1]" PULLUP;
NET "PM_A[0]" PULLUP;


NET "SRAM_A[15]" LOC = P88;
NET "SRAM_A[14]" LOC = P85;
NET "SRAM_A[13]" LOC = P87;
NET "SRAM_A[12]" LOC = P84;
NET "SRAM_A[11]" LOC = P31;
NET "SRAM_A[10]" LOC = P32;
NET "SRAM_A[9]" LOC = P30;
NET "SRAM_A[8]" LOC = P28;
NET "SRAM_A[7]" LOC = P139;
NET "SRAM_A[6]" LOC = P135;
NET "SRAM_A[5]" LOC = P132;
NET "SRAM_A[4]" LOC = P130;
NET "SRAM_A[3]" LOC = P127;
NET "SRAM_A[2]" LOC = P125;
NET "SRAM_A[1]" LOC = P121;
NET "SRAM_A[0]" LOC = P120;

NET "SRAM_D[15]" LOC = P6;
NET "SRAM_D[14]" LOC = P8;
NET "SRAM_D[13]" LOC = P11;
NET "SRAM_D[12]" LOC = P13;
NET "SRAM_D[11]" LOC = P16;
NET "SRAM_D[10]" LOC = P19;
NET "SRAM_D[9]" LOC = P21;
NET "SRAM_D[8]" LOC = P25;
NET "SRAM_D[7]" LOC = P93;
NET "SRAM_D[6]" LOC = P98;
NET "SRAM_D[5]" LOC = P99;
NET "SRAM_D[4]" LOC = P102;
NET "SRAM_D[3]" LOC = P104;
NET "SRAM_D[2]" LOC = P110;
NET "SRAM_D[1]" LOC = P112;
NET "SRAM_D[0]" LOC = P114;

NET "VGA_B[3]" LOC = P76;
NET "VGA_B[2]" LOC = P77;
NET "VGA_B[1]" LOC = P78;
NET "VGA_B[0]" LOC = P79;
NET "VGA_G[3]" LOC = P58;
NET "VGA_G[2]" LOC = P69;
NET "VGA_G[1]" LOC = P70;
NET "VGA_G[0]" LOC = P75;
NET "VGA_R[3]" LOC = P43;
NET "VGA_R[2]" LOC = P42;
NET "VGA_R[1]" LOC = P63;
NET "VGA_R[0]" LOC = P64;


NET "SRAM_A[15]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[14]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[13]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[12]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[11]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[10]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[9]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[8]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[7]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[6]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[5]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[4]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[3]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[2]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[1]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[0]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[15]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[14]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[13]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[12]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[11]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[10]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[9]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[8]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[7]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[6]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[5]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[4]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[3]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[2]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[1]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[0]" IOSTANDARD = LVCMOS33;
NET "VGA_B[3]" IOSTANDARD = LVCMOS33;
NET "VGA_B[2]" IOSTANDARD = LVCMOS33;
NET "VGA_B[1]" IOSTANDARD = LVCMOS33;
NET "VGA_B[0]" IOSTANDARD = LVCMOS33;
NET "VGA_G[3]" IOSTANDARD = LVCMOS33;
NET "VGA_G[2]" IOSTANDARD = LVCMOS33;
NET "VGA_G[1]" IOSTANDARD = LVCMOS33;
NET "VGA_G[0]" IOSTANDARD = LVCMOS33;
NET "VGA_R[3]" IOSTANDARD = LVCMOS33;
NET "VGA_R[2]" IOSTANDARD = LVCMOS33;
NET "VGA_R[1]" IOSTANDARD = LVCMOS33;
NET "VGA_R[0]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[15]" SLEW = FAST;
NET "SRAM_A[14]" SLEW = FAST;
NET "SRAM_A[13]" SLEW = FAST;
NET "SRAM_A[12]" SLEW = FAST;
NET "SRAM_A[11]" SLEW = FAST;
NET "SRAM_A[10]" SLEW = FAST;
NET "SRAM_A[9]" SLEW = FAST;
NET "SRAM_A[8]" SLEW = FAST;
NET "SRAM_A[7]" SLEW = FAST;
NET "SRAM_A[6]" SLEW = FAST;
NET "SRAM_A[5]" SLEW = FAST;
NET "SRAM_A[4]" SLEW = FAST;
NET "SRAM_A[3]" SLEW = FAST;
NET "SRAM_A[2]" SLEW = FAST;
NET "SRAM_A[1]" SLEW = FAST;
NET "SRAM_A[0]" SLEW = FAST;
NET "SRAM_D[15]" SLEW = FAST;
NET "SRAM_D[14]" SLEW = FAST;
NET "SRAM_D[13]" SLEW = FAST;
NET "SRAM_D[12]" SLEW = FAST;
NET "SRAM_D[11]" SLEW = FAST;
NET "SRAM_D[10]" SLEW = FAST;
NET "SRAM_D[9]" SLEW = FAST;
NET "SRAM_D[8]" SLEW = FAST;
NET "SRAM_D[7]" SLEW = FAST;
NET "SRAM_D[6]" SLEW = FAST;
NET "SRAM_D[5]" SLEW = FAST;
NET "SRAM_D[4]" SLEW = FAST;
NET "SRAM_D[3]" SLEW = FAST;
NET "SRAM_D[2]" SLEW = FAST;
NET "SRAM_D[1]" SLEW = FAST;
NET "SRAM_D[0]" SLEW = FAST;
NET "VGA_B[3]" SLEW = FAST;
NET "VGA_B[2]" SLEW = FAST;
NET "VGA_B[1]" SLEW = FAST;
NET "VGA_B[0]" SLEW = FAST;
NET "VGA_G[3]" SLEW = FAST;
NET "VGA_G[2]" SLEW = FAST;
NET "VGA_G[1]" SLEW = FAST;
NET "VGA_G[0]" SLEW = FAST;
NET "VGA_R[3]" SLEW = FAST;
NET "VGA_R[2]" SLEW = FAST;
NET "VGA_R[1]" SLEW = FAST;
NET "VGA_R[0]" SLEW = FAST;
NET "SRAM_A[15]" PULLUP;
NET "SRAM_A[14]" PULLUP;
NET "SRAM_A[13]" PULLUP;
NET "SRAM_A[12]" PULLUP;
NET "SRAM_A[11]" PULLUP;
NET "SRAM_A[10]" PULLUP;
NET "SRAM_A[9]" PULLUP;
NET "SRAM_A[8]" PULLUP;
NET "SRAM_A[7]" PULLUP;
NET "SRAM_A[6]" PULLUP;
NET "SRAM_A[5]" PULLUP;
NET "SRAM_A[4]" PULLUP;
NET "SRAM_A[3]" PULLUP;
NET "SRAM_A[2]" PULLUP;
NET "SRAM_A[1]" PULLUP;
NET "SRAM_A[0]" PULLUP;
NET "SRAM_D[15]" PULLUP;
NET "SRAM_D[14]" PULLUP;
NET "SRAM_D[13]" PULLUP;
NET "SRAM_D[12]" PULLUP;
NET "SRAM_D[11]" PULLUP;
NET "SRAM_D[10]" PULLUP;
NET "SRAM_D[9]" PULLUP;
NET "SRAM_D[8]" PULLUP;
NET "SRAM_D[7]" PULLUP;
NET "SRAM_D[6]" PULLUP;
NET "SRAM_D[5]" PULLUP;
NET "SRAM_D[4]" PULLUP;
NET "SRAM_D[3]" PULLUP;
NET "SRAM_D[2]" PULLUP;
NET "SRAM_D[1]" PULLUP;
NET "SRAM_D[0]" PULLUP;

NET "PM_nCS" LOC = P45;
NET "PM_nRD" LOC = P53;
NET "PM_nWR" LOC = P60;
NET "SRAM_nBHE" LOC = P143;
NET "SRAM_nBLE" LOC = P4;
NET "SRAM_nCE" LOC = P116;
NET "SRAM_nOE" LOC = P141;
NET "VGA_HSYNC" LOC = P82;
NET "VGA_VSYNC" LOC = P83;

NET "SRAM_nBHE" SLEW = FAST;
NET "SRAM_nBLE" SLEW = FAST;
NET "SRAM_nCE" SLEW = FAST;
NET "SRAM_nOE" SLEW = FAST;
NET "VGA_HSYNC" SLEW = FAST;
NET "VGA_VSYNC" SLEW = FAST;
NET "PM_nCS" IOSTANDARD = LVCMOS33;
NET "PM_nRD" IOSTANDARD = LVCMOS33;
NET "PM_nWR" IOSTANDARD = LVCMOS33;
NET "SRAM_nBHE" IOSTANDARD = LVCMOS33;
NET "SRAM_nCE" IOSTANDARD = LVCMOS33;
NET "SRAM_nBLE" IOSTANDARD = LVCMOS33;
NET "SRAM_nOE" IOSTANDARD = LVCMOS33;
NET "VGA_HSYNC" IOSTANDARD = LVCMOS33;
NET "VGA_VSYNC" IOSTANDARD = LVCMOS33;
NET "PM_nCS" PULLUP;
NET "PM_nRD" PULLUP;
NET "PM_nWR" PULLUP;

NET "SRAM_nWE" LOC = P91;
NET "SRAM_nWE" IOSTANDARD = LVCMOS33;
NET "SRAM_nWE" SLEW = FAST;


# PlanAhead Generated IO constraints 

NET "KC_B" PULLDOWN;
NET "KC_CLK" PULLDOWN;
NET "KC_EX" PULLDOWN;
NET "KC_EZ" PULLDOWN;
NET "KC_G" PULLDOWN;
NET "KC_HSYNC" PULLDOWN;
NET "KC_R" PULLDOWN;
NET "KC_VSYNC" PULLDOWN;
