# external clock 48 MHz
NET "CLK_IN" LOC = p127;
NET "CLK_IN" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLK_IN" IOSTANDARD = LVCMOS33;
NET "CLK_IN" TNM_NET = "TNM_CLK_IN";
TIMESPEC TS_CLK_IN = PERIOD "TNM_CLK_IN" 20.833000 ns HIGH 50 %;

NET "SCANLINES" LOC = p70; # JP0
NET "SCANLINES" IOSTANDARD = LVCMOS33;
NET "SCANLINES" PULLUP;
# NET "JP1" LOC = p69;
# NET "JP1" IOSTANDARD = LVCMOS33;
# NET "JP1" PULLUP;
# NET "JP2" LOC = p68;
# NET "JP2" IOSTANDARD = LVCMOS33;
# NET "JP2" PULLUP;
# NET "JP3" LOC = p75;
# NET "JP3" IOSTANDARD = LVCMOS33;
# NET "JP3" PULLUP;
# NET "JP4" LOC = p76;
# NET "JP4" IOSTANDARD = LVCMOS33;
# NET "JP4" PULLUP;
# NET "JP5" LOC = p77;
# NET "JP5" IOSTANDARD = LVCMOS33;
# NET "JP5" PULLUP;

# NET "TEST1" LOC = p115;
# NET "TEST1" IOSTANDARD = LVCMOS33;
# NET "TEST2" LOC = p117;
# NET "TEST2" IOSTANDARD = LVCMOS33;
#NET "TEST3" LOC = P138;
#NET "TEST3" IOSTANDARD = LVCMOS33;
#NET "TEST4" LOC = P29;
#NET "TEST4" IOSTANDARD = LVCMOS33;

# input capture clock
NET "KC_CLK" LOC = p142;
NET "KC_CLK" IOSTANDARD = LVCMOS33;

NET "KC_R" LOC = p135;
NET "KC_G" LOC = p134;
NET "KC_B" LOC = p132;

NET "KC_B" IOSTANDARD = LVCMOS33;
NET "KC_G" IOSTANDARD = LVCMOS33;
NET "KC_R" IOSTANDARD = LVCMOS33;

NET "KC_HSYNC" LOC = p139;
NET "KC_EZ" LOC = p130;
NET "KC_EX" LOC = p131;
NET "KC_VSYNC" LOC = p138;

NET "nRESET" LOC = p67; # shared with INIT_B
NET "nRESET" IOSTANDARD = LVCMOS33;
NET "nRESET" PULLUP;

NET "KC_VSYNC" IOSTANDARD = LVCMOS33;
NET "KC_EZ" IOSTANDARD = LVCMOS33;
NET "KC_EX" IOSTANDARD = LVCMOS33;
NET "KC_HSYNC" IOSTANDARD = LVCMOS33;

NET "PM_D[7]" LOC = p41;
NET "PM_D[6]" LOC = p42;
NET "PM_D[5]" LOC = p18;
NET "PM_D[4]" LOC = p28;
NET "PM_D[3]" LOC = p27;
NET "PM_D[2]" LOC = p45;
NET "PM_D[1]" LOC = p44;
NET "PM_D[0]" LOC = p43;

NET "PM_D[7]" IOSTANDARD = LVCMOS33;
NET "PM_D[6]" IOSTANDARD = LVCMOS33;
NET "PM_D[5]" IOSTANDARD = LVCMOS33;
NET "PM_D[4]" IOSTANDARD = LVCMOS33;
NET "PM_D[3]" IOSTANDARD = LVCMOS33;
NET "PM_D[2]" IOSTANDARD = LVCMOS33;
NET "PM_D[1]" IOSTANDARD = LVCMOS33;
NET "PM_D[0]" IOSTANDARD = LVCMOS33;
NET "PM_D[7]" SLEW = FAST;
NET "PM_D[6]" SLEW = FAST;
NET "PM_D[5]" SLEW = FAST;
NET "PM_D[4]" SLEW = FAST;
NET "PM_D[3]" SLEW = FAST;
NET "PM_D[2]" SLEW = FAST;
NET "PM_D[1]" SLEW = FAST;
NET "PM_D[0]" SLEW = FAST;
NET "PM_D[7]" PULLUP;
NET "PM_D[6]" PULLUP;
NET "PM_D[5]" PULLUP;
NET "PM_D[4]" PULLUP;
NET "PM_D[3]" PULLUP;
NET "PM_D[2]" PULLUP;
NET "PM_D[1]" PULLUP;
NET "PM_D[0]" PULLUP;


NET "PM_A[1]" LOC = p71; # shared with DIN
NET "PM_A[0]" LOC = p19;


NET "PM_A[1]" IOSTANDARD = LVCMOS33;
NET "PM_A[0]" IOSTANDARD = LVCMOS33;
NET "PM_A[1]" PULLUP;
NET "PM_A[0]" PULLUP;

# M68AW128MND 128k x 16 bit
#NET "SRAM_A[16]" LOC = p84;
#NET "SRAM_A[15]" LOC = p83;
#NET "SRAM_A[14]" LOC = p82;
#NET "SRAM_A[13]" LOC = p79;
#NET "SRAM_A[12]" LOC = p78;
#NET "SRAM_A[11]" LOC = p32;
#NET "SRAM_A[10]" LOC = p31;
#NET "SRAM_A[9]" LOC = p30;
#NET "SRAM_A[8]" LOC = p29;
#NET "SRAM_A[7]" LOC = p5;
#NET "SRAM_A[6]" LOC = p4;
#NET "SRAM_A[5]" LOC = p3;
#NET "SRAM_A[4]" LOC = p105;
#NET "SRAM_A[3]" LOC = p104;
#NET "SRAM_A[2]" LOC = p103;
#NET "SRAM_A[1]" LOC = p102;
#NET "SRAM_A[0]" LOC = p101;

# C7C1021DV33 - 64k x 16 bit
NET "SRAM_A[16]" LOC = p110; # nc
NET "SRAM_A[15]" LOC = p84;
NET "SRAM_A[14]" LOC = p83;
NET "SRAM_A[13]" LOC = p82;
NET "SRAM_A[12]" LOC = p79;
#NET "SRAM_A[12]" LOC = p78; # nc
NET "SRAM_A[11]" LOC = p32;
NET "SRAM_A[10]" LOC = p31;
NET "SRAM_A[9]" LOC = p30;
NET "SRAM_A[8]" LOC = p29;
NET "SRAM_A[7]" LOC = p5;
NET "SRAM_A[6]" LOC = p4;
NET "SRAM_A[5]" LOC = p3;
NET "SRAM_A[4]" LOC = p105;
NET "SRAM_A[3]" LOC = p104;
NET "SRAM_A[2]" LOC = p103;
NET "SRAM_A[1]" LOC = p102;
NET "SRAM_A[0]" LOC = p101;

NET "SRAM_D[15]" LOC = p10;
NET "SRAM_D[14]" LOC = p12;
NET "SRAM_D[13]" LOC = p13;
NET "SRAM_D[12]" LOC = p15;
NET "SRAM_D[11]" LOC = p20;
NET "SRAM_D[10]" LOC = p21;
NET "SRAM_D[9]" LOC = p24;
NET "SRAM_D[8]" LOC = p25;
NET "SRAM_D[7]" LOC = p87;
NET "SRAM_D[6]" LOC = p88;
NET "SRAM_D[5]" LOC = p90;
NET "SRAM_D[4]" LOC = p91;
NET "SRAM_D[3]" LOC = p92;
NET "SRAM_D[2]" LOC = p93;
NET "SRAM_D[1]" LOC = p96;
NET "SRAM_D[0]" LOC = p98;

NET "VGA_B[3]" LOC = p49;
NET "VGA_B[2]" LOC = p48;
NET "VGA_B[1]" LOC = p47;
NET "VGA_B[0]" LOC = p46;
NET "VGA_G[3]" LOC = p55;
NET "VGA_G[2]" LOC = p54;
NET "VGA_G[1]" LOC = p51;
NET "VGA_G[0]" LOC = p50;
NET "VGA_R[3]" LOC = p60;
NET "VGA_R[2]" LOC = p59;
NET "VGA_R[1]" LOC = p58;
NET "VGA_R[0]" LOC = p57;


NET "SRAM_A[16]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[15]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[14]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[13]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[12]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[11]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[10]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[9]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[8]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[7]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[6]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[5]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[4]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[3]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[2]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[1]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[0]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[15]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[14]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[13]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[12]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[11]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[10]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[9]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[8]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[7]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[6]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[5]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[4]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[3]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[2]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[1]" IOSTANDARD = LVCMOS33;
NET "SRAM_D[0]" IOSTANDARD = LVCMOS33;
NET "VGA_B[3]" IOSTANDARD = LVCMOS33;
NET "VGA_B[2]" IOSTANDARD = LVCMOS33;
NET "VGA_B[1]" IOSTANDARD = LVCMOS33;
NET "VGA_B[0]" IOSTANDARD = LVCMOS33;
NET "VGA_G[3]" IOSTANDARD = LVCMOS33;
NET "VGA_G[2]" IOSTANDARD = LVCMOS33;
NET "VGA_G[1]" IOSTANDARD = LVCMOS33;
NET "VGA_G[0]" IOSTANDARD = LVCMOS33;
NET "VGA_R[3]" IOSTANDARD = LVCMOS33;
NET "VGA_R[2]" IOSTANDARD = LVCMOS33;
NET "VGA_R[1]" IOSTANDARD = LVCMOS33;
NET "VGA_R[0]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[16]" SLEW = FAST;
NET "SRAM_A[15]" SLEW = FAST;
NET "SRAM_A[14]" SLEW = FAST;
NET "SRAM_A[13]" SLEW = FAST;
NET "SRAM_A[12]" SLEW = FAST;
NET "SRAM_A[11]" SLEW = FAST;
NET "SRAM_A[10]" SLEW = FAST;
NET "SRAM_A[9]" SLEW = FAST;
NET "SRAM_A[8]" SLEW = FAST;
NET "SRAM_A[7]" SLEW = FAST;
NET "SRAM_A[6]" SLEW = FAST;
NET "SRAM_A[5]" SLEW = FAST;
NET "SRAM_A[4]" SLEW = FAST;
NET "SRAM_A[3]" SLEW = FAST;
NET "SRAM_A[2]" SLEW = FAST;
NET "SRAM_A[1]" SLEW = FAST;
NET "SRAM_A[0]" SLEW = FAST;
NET "SRAM_D[15]" SLEW = FAST;
NET "SRAM_D[14]" SLEW = FAST;
NET "SRAM_D[13]" SLEW = FAST;
NET "SRAM_D[12]" SLEW = FAST;
NET "SRAM_D[11]" SLEW = FAST;
NET "SRAM_D[10]" SLEW = FAST;
NET "SRAM_D[9]" SLEW = FAST;
NET "SRAM_D[8]" SLEW = FAST;
NET "SRAM_D[7]" SLEW = FAST;
NET "SRAM_D[6]" SLEW = FAST;
NET "SRAM_D[5]" SLEW = FAST;
NET "SRAM_D[4]" SLEW = FAST;
NET "SRAM_D[3]" SLEW = FAST;
NET "SRAM_D[2]" SLEW = FAST;
NET "SRAM_D[1]" SLEW = FAST;
NET "SRAM_D[0]" SLEW = FAST;
NET "VGA_B[3]" SLEW = FAST;
NET "VGA_B[2]" SLEW = FAST;
NET "VGA_B[1]" SLEW = FAST;
NET "VGA_B[0]" SLEW = FAST;
NET "VGA_G[3]" SLEW = FAST;
NET "VGA_G[2]" SLEW = FAST;
NET "VGA_G[1]" SLEW = FAST;
NET "VGA_G[0]" SLEW = FAST;
NET "VGA_R[3]" SLEW = FAST;
NET "VGA_R[2]" SLEW = FAST;
NET "VGA_R[1]" SLEW = FAST;
NET "VGA_R[0]" SLEW = FAST;
NET "SRAM_A[16]" PULLUP;
NET "SRAM_A[15]" PULLUP;
NET "SRAM_A[14]" PULLUP;
NET "SRAM_A[13]" PULLUP;
NET "SRAM_A[12]" PULLUP;
NET "SRAM_A[11]" PULLUP;
NET "SRAM_A[10]" PULLUP;
NET "SRAM_A[9]" PULLUP;
NET "SRAM_A[8]" PULLUP;
NET "SRAM_A[7]" PULLUP;
NET "SRAM_A[6]" PULLUP;
NET "SRAM_A[5]" PULLUP;
NET "SRAM_A[4]" PULLUP;
NET "SRAM_A[3]" PULLUP;
NET "SRAM_A[2]" PULLUP;
NET "SRAM_A[1]" PULLUP;
NET "SRAM_A[0]" PULLUP;
NET "SRAM_D[15]" PULLUP;
NET "SRAM_D[14]" PULLUP;
NET "SRAM_D[13]" PULLUP;
NET "SRAM_D[12]" PULLUP;
NET "SRAM_D[11]" PULLUP;
NET "SRAM_D[10]" PULLUP;
NET "SRAM_D[9]" PULLUP;
NET "SRAM_D[8]" PULLUP;
NET "SRAM_D[7]" PULLUP;
NET "SRAM_D[6]" PULLUP;
NET "SRAM_D[5]" PULLUP;
NET "SRAM_D[4]" PULLUP;
NET "SRAM_D[3]" PULLUP;
NET "SRAM_D[2]" PULLUP;
NET "SRAM_D[1]" PULLUP;
NET "SRAM_D[0]" PULLUP;

NET "PM_nRD" LOC = p33;
NET "PM_nWR" LOC = p140;
NET "SRAM_nBHE" LOC = p7;
NET "SRAM_nBLE" LOC = p8;
NET "SRAM_nCE" LOC = p99;
NET "SRAM_nOE" LOC = p6;
NET "VGA_HSYNC" LOC = p64;
NET "VGA_VSYNC" LOC = p62;

NET "SRAM_nBHE" SLEW = FAST;
NET "SRAM_nBLE" SLEW = FAST;
NET "SRAM_nCE" SLEW = FAST;
NET "SRAM_nOE" SLEW = FAST;
NET "VGA_HSYNC" SLEW = FAST;
NET "VGA_VSYNC" SLEW = FAST;
NET "PM_nRD" IOSTANDARD = LVCMOS33;
NET "PM_nWR" IOSTANDARD = LVCMOS33;
NET "SRAM_nBHE" IOSTANDARD = LVCMOS33;
NET "SRAM_nCE" IOSTANDARD = LVCMOS33;
NET "SRAM_nBLE" IOSTANDARD = LVCMOS33;
NET "SRAM_nOE" IOSTANDARD = LVCMOS33;
NET "VGA_HSYNC" IOSTANDARD = LVCMOS33;
NET "VGA_VSYNC" IOSTANDARD = LVCMOS33;
NET "PM_nRD" PULLUP;
NET "PM_nWR" PULLUP;

NET "SRAM_nWE" LOC = p85;
NET "SRAM_nWE" IOSTANDARD = LVCMOS33;
NET "SRAM_nWE" SLEW = FAST;


# PlanAhead Generated IO constraints 

NET "KC_B" PULLDOWN;
NET "KC_CLK" PULLDOWN;
NET "KC_EX" PULLDOWN;
NET "KC_EZ" PULLDOWN;
NET "KC_G" PULLDOWN;
NET "KC_HSYNC" PULLDOWN;
NET "KC_R" PULLDOWN;
NET "KC_VSYNC" PULLDOWN;
